* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1110px;
  margin: auto;
}
form {
  margin: 200px;
  width: 400px;
  position: relative;
}
input {
}
img {
  position: absolute;
  top: 4px;
  right: 10px;
  cursor: pointer;
}
.btn {
  margin-top: 10px;
  width: 400px;
  background: blue;
  color: white;
  font-size: 20px;
}
.error {
  border: 1px solid red;
}
