* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: #6868b1;
  color: white ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 66px;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.dote {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -8px;
  cursor: pointer;
}
.clock {
  width: 100px;
  display: flex;
  justify-content: center;  
}

.opacity{
  opacity: 0;
}